curtain-slider {
  display: inline-block;
  font-size:0
}
curtain-slider .image-slider {
  position: relative;
  display: inline-block;
  overflow: hidden;
  /*Modify slider width*/
  max-width: 320px;
}
curtain-slider .image-slider > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
  border-right: 1px solid;
}
curtain-slider .image-slider img {
  display: block;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
curtain-slider .image-slider > img {
  width: 100%;
}
curtain-slider input {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 4;
  height: 100%;
  top: 0;
  bottom: 0;
}
curtain-slider input[type=range] {
  -webkit-appearance: none;
  /* Hides the src so that custom src can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}
curtain-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
curtain-slider input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
curtain-slider input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the src so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
curtain-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}
/* All the same stuff for Firefox */
curtain-slider input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
/* All the same stuff for IE */
curtain-slider input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
curtain-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-radius: 1.3px;
}
curtain-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}
curtain-slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
}
curtain-slider input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
curtain-slider input[type=range]::-ms-fill-lower {
  background: transparent;
}
curtain-slider input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}
curtain-slider input[type=range]::-ms-fill-upper {
  background: transparent;
}
curtain-slider input[type=range]:focus::-ms-fill-upper {
  background: transparent;
}
